// Variables

// Colours

$primary: #e3fffe;
$secondary: #38322d;


// Fonts

@import url("https://use.typekit.net/khp0gjo.css");

$main-font: 'pennypacker', 'Helvetica', sans-serif;

// Nav structure

$gutter-padding: 1rem;


// Rules

// Main

html {
    color: $primary;
}