#cv-intro {
    height: 20vh;
    width: 100%;
    margin-bottom: calc(2 * $margin);
}

.about-block {
    width: 100%;
    margin-bottom: calc(5 * $margin);

    @media (min-width: $medium) {
        width: $horizontal-block-part;
    }
}

.about-block-title {
    width: 100%;
    margin-bottom: (3 * $margin);
}

.about-h3 {
    margin-bottom: $margin;
}

.skills-head {
    justify-content: center;
}

.experience-section {
    flex-wrap: wrap;
    margin-top: $margin;   
}