.content-column {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (min-width: $large) {
        width: 66.66%;
    }

    @media(max-width: $large) {
        margin-top: 3rem;
    }
}