.link {
  position: relative;
  display: flex;
  margin-top: $body-height;
  cursor: pointer;

  span {
    border-bottom: 1px solid black;
    padding-right: 0;
    transition: padding-right 300ms ease;
    @include type-L;
  }

  div {
    position: relative;
    top: 0px;
    display: inline-block;
    height: $body-height;
    width: $body-height;
    svg {
      polyline {
        fill: none;
        stroke: $black;
        stroke-width: 5px;
      }
    }
  }
  &:hover {
    span {
      padding-right: 1rem;
    }
  }
}
