@media (min-width: $medium) {

    .alternate:nth-child(odd) {
        flex-direction: row;
    }

    .alternate:nth-child(even) {
        flex-direction: row-reverse;
    }

    .project-block {
        justify-content: space-between;
    }

    .project-part {
        width: $horizontal-project-part;
    }
}