header {
  position: absolute;
  width: 100%;
  padding: 0 (4 * $padding);
  background: $blue;
  transition: transform 500ms ease;

  @media (min-width: $medium) {
    padding: 0 (2 * $padding);
  }
}

.nav-container {
  flex-direction: column;
  padding: $padding 0;
  margin: 0 $neg-margin;
  width: calc($container-width + 2rem);

  @media (min-width: $large) {
    flex-direction: row;
  }
}

.nav-column {
  padding: 0 $padding;

  @media (min-width: $large) {
    width: 33.33%;
  }
}

.collapsed {
  transform: translateY(-100%);
}
