// Nav structure

.nav-container {
    flex-direction: column;
    margin: $margin $neg-margin;
    width: $container-width;
}

.nav-column {
    padding: 0 $padding;
}


// Projects layout

.project-block { 
    flex-direction: column;
    
    .image-container {
        position: relative;
        width: 100%;
        aspect-ratio: 16 / 9;
        background-size: cover;
        background-position: 50%;
        margin-bottom: $margin;
    }

    .project-head {
        margin-bottom: 0.5 * $margin;
    }

    .project-date {
        margin-right: $margin;
    }

    .project-title {
        font-family: $header-font;
    }

    &:hover {

        cursor: pointer;

        & .see-project{
            text-decoration: underline 1px dotted $black;
            text-underline-offset: 2px;
        }
    }
}