// Nav structure

.nav-container {
    flex-direction: column;
    margin: $margin $neg-margin;
    width: $container-width;
}

.nav-column {
    padding: 0 $padding;
}


// Projects layout

@mixin project-block {
    flex-direction: column;
    margin-bottom: 4 * $margin;
    
    .image-container {
        position: relative;
        width: 100%;
        aspect-ratio: 16 / 9;
        background-size: cover;
        background-position: 50%;
        margin-bottom: $margin;
    }

    .project-date {
        margin-right: $margin;
    }

    .project-title {
        font-family: $header-font;
    }
}

.project-block {
    @include project-block;
}

#project-1-image {
    background-image: url(/images/crater-screenshot.png)
}

#project-2-image {
    background-image: url(/images/craigslist-screenshot.png)
}

#project-3-image {
    background-image: url(/images/museum-screenshot.png)
}