.project-block {
  // Variables
  $part2-width: 70%;

  margin-bottom: 5 * $margin;
  position: relative;

  .block-part-1 {
    width: 100%;
    z-index: 50;
    margin-bottom: 2 * $margin;

    h1 {
      display: inline-block;
      background: $blue;
      padding: 0 3px;
    }

    @media (min-width: $medium) {
      position: absolute;

      .link {
        margin-top: 3 * $margin;
      }
    }
  }

  .block-part-2 {
    margin-right: 0;
    margin-left: auto;
    @media (min-width: $medium) {
      width: $part2-width;
    }
  }

  .image-container {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    background-size: cover;
    background-position: 50%;
    margin-bottom: $margin;
  }
  @supports not (aspect-ratio: 16/9) {
    .image-container::before {
      float: left;
      padding-top: 56.25%;
      content: "";
    }

    .image-container::after {
      display: block;
      content: "";
      clear: both;
    }
  }

  &:hover {
    cursor: pointer;

    .link {
      span {
        padding-right: 0.5rem;
      }
    }
  }

  @media (min-width: $medium) {
    & {
      justify-content: space-between;
    }
  }
}
