// Colors

$blue: #e3fffe;
$black: #2c2724;

// Nav structure

$padding: 1rem;
$margin: 1rem;
$vert-marg: 1rem;
$neg-margin: -1rem;

$container-width: 100%;

$horizontal-block-part: calc(50% - 4 * $margin);
$alternating-block-part: 60%;


// Responsivity

$medium: 640px;
$large: 1024px;